<%- include('../partials/edit-member.ejs') %>
<br>
<h3>MEMBER</h3>
<nav>
  <input id="searchField" type="text" name="search" value="" placeholder="search...">
</nav>
<div class="page-wrapper">
  <div class="profile-box">
    <img src="https://placeimg.com/200/200/any" alt="profile pic">
    <h4>Leora D. Harrison</h4>
    <h5>leora@ac.io</h5>
    <div class="btn-container">
      <span class="profile-btn" id="assign"><i class="far fa-clipboard"></i></i>Information</span>
      <span class="profile-btn" id="view"><i class="fa fa-ban" aria-hidden="true"></i>Block</span>
    </div>
  </div>
  
  <div class="profile-box">
    <img src="https://placeimg.com/200/200/any" alt="profile pic">
    <h4>Leora D. Harrison</h4>
    <h5>leora@ac.io</h5>
    <div class="btn-container">
      <span class="profile-btn" id="assign"><i class="far fa-clipboard"></i></i>Information</span>
      <span class="profile-btn" id="view"><i class="far fa-eye"></i>Block</span>
    </div>
  </div>
  <div class="profile-box">
    <img src="https://placeimg.com/200/200/any" alt="profile pic">
    <h4>Leora D. Harrison</h4>
    <h5>leora@ac.io</h5>
    <div class="btn-container">
      <span class="profile-btn" id="assign"><i class="far fa-clipboard"></i></i>Information</span>
      <span class="profile-btn" id="view"><i class="far fa-eye"></i>Block</span>
    </div>
  </div>

  <div class="profile-box">
    <img src="https://placeimg.com/200/200/any" alt="profile pic">
    <h4>Leora D. Harrison</h4>
    <h5>leora@ac.io</h5>
    <div class="btn-container">
      <span class="profile-btn" id="assign"><i class="far fa-clipboard"></i></i>Information</span>
      <span class="profile-btn" id="view"><i class="far fa-eye"></i>Block</span>
    </div>
  </div>

  <div class="profile-box">
    <img src="https://placeimg.com/200/200/any" alt="profile pic">
    <h4>Leora D. Harrison</h4>
    <h5>leora@ac.io</h5>
    <div class="btn-container">
      <span class="profile-btn" id="assign"><i class="far fa-clipboard"></i></i>Information</span>
      <span class="profile-btn" id="view"><i class="far fa-eye"></i>Block</span>
    </div>
  </div>
</div>
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>

<%- include('../partials/footer.ejs') %>