<%- include('partials/h-favorite.ejs') %>
<div class="wrapper">
    <h1>Favorite </h1>
    <h5>The song has been downloaded successfully</h5><br>
      
    <div class="item item--css-clip-path">
        <div class="demo">
           <img src="https://i.pinimg.com/originals/93/2f/c2/932fc260b9f112718153f2de9e0222db.jpg" alt=""  />
        </div>  
        <div class="text">
          <code class="music">
            <h4>ฝนตกไหม</h4>
            <h6>Three man down</h6>
            
            <div class="btn-box">
                <i class="fa fa-heart favorite active" aria-hidden="true" onclick="handleFavorite()"></i>
            </div>
          </code>
        </div> 
    </div>

    <div class="item item--css-clip-path">
        <div class="demo">
           <img src="https://i.pinimg.com/originals/93/2f/c2/932fc260b9f112718153f2de9e0222db.jpg" alt=""  />
        </div>  
        <div class="text">
          <code class="music">
            <h4>ฝนตกไหม</h4>
            <h6>Three man down</h6>
            
            <div class="btn-box">
                <i class="fa fa-heart favorite active" aria-hidden="true" onclick="handleFavorite()"></i>
            </div>
          </code>
        </div> 
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script> 
<%- include('partials/footer.ejs') %>