<%- include('partials/h-user.ejs') %>

<div style="padding: 30 0; background-image: url('https://i.pinimg.com/originals/1a/12/e1/1a12e173feaa4a9c5fed7d891ec3dc89.jpg'); background-size: 100% 250px;">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="d-flex justify-content-end px-2">
                    <img src="/images/music1.jpg" class="img-fluid" style="width: 150" />
                </div>
            </div>
            <div class="col-8 d-flex align-items-center">
                <div class="row">
                    <h2 class="text-light">ฝนตกไหม</h2>
                    <h2 class="text-light">Three man down</h2>
                </div>
            </div>
        </div>
    </div>
  </div>

  <br>
  <i><h2>เนื้อเพลง</h2></i>
   <p> ฝนตกอีกแล้ว
    คืนนี้คงหนาวกว่าคืนไหนไหน
    ตัวฉันก็ใช้ชีวิตไป
    แค่ผ่านผ่านไป
    เท่านั้น
    เท่านั้น
    ก็คิดถึงเธอ
    อยากรู้ว่าเธอน่ะเป็นเช่นไร
    ตัวฉันก็เลยกดเบอร์โทรไป
    แบบไม่ตั้งใจ
    เท่านั้น
    เท่านั้น
    แค่อยากจะรู้ว่าตรงที่เธอยืนนั้นมีฝนตกไหม
    สบายดีไหม
    เธอกลัวฟ้าร้องหรือเปล่า
    ถ้าหากตรงนั้นไม่มีใคร
    ฉันพร้อม ฉันพร้อมจะไป
    ในคืนที่ฝนโปรยลงมา
    อากาศชื้นนะคืนนี้ระวังหนาวนะแบบนี้
    ก่อนเข้านอนเป่าผมให้ดี
    ฉันกลัวเธอจะไม่สบาย
    ที่โทรมาหาเธอกดมาแบบไม่ได้ตั้งใจ
    ไม่ได้คิดอะไรแค่กลัวเธอไม่สบาย อะ (เท่านั้น)
    เท่านั้น
    แค่อยากจะรู้ว่าตรงที่เธอยืนนั้นมีฝนตกไหม
    สบายดีไหม
    เธอกลัวฟ้าร้องหรือเปล่า
    หากตรงนั้นไม่มีใคร
    ฉันพร้อม ฉันพร้อมจะไป
    แต่ฉันก็รู้ดีว่าข้างข้างเธอนั้นมีเขาใช่ไหมและ
    คนคนนั้น
    ดูแลเธอดีหรือเปล่า
    ถ้าเธอยิ้มฉันก็ดีใจ
    แค่ตรงนี้ฉันไม่มีใคร
    ในคืนที่ฝนโปรยลงมา
    ฮู้
    โฮ้โฮ
    เท่านั้น
    เท่านั้น
    แค่อยากจะรู้ว่าตรงที่เธอยืนนั้นมีฝนตกไหม
    สบายดีไหม
    เธอกลัวฟ้าร้องหรือเปล่า
    ถ้าหากตรงนั้นไม่มีใคร
    ฉันพร้อม ฉันพร้อมจะไป
    แต่ฉันก็รู้ดีว่าข้างข้างเธอนั้นมีเขาใช่ไหม
    และคนคนนั้น
    ดูแลเธอดีหรือเปล่า
    ถ้าเธอยิ้มฉันก็ดีใจ
    แค่ตรงนี้ฉันไม่มีใคร
    ในคืนที่ฝนโปรยลงมา
    ในคืนที่ฝนโปรยลงมา</p>


<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
<%- include('partials/footer.ejs') %>